@import 'base/base';

body{
    background-image: url(../image/background.jpg);
    background-size: cover;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}
.leftMenu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.adminBox{
    width: 75%;
    min-height: 50vh;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 4px 2px black;
    border-radius: 5px;
    &__qestion{
        width: 97%;
        height: 200px;
        border: 1px dotted black;
        resize: none;
        margin: 10px;
        font-size: 20px;
    }

    &TypeAnswerBox{
        display: flex;
        justify-content: space-around;
        &Answer{
            &__input{
                margin-right: 5px;
            }
            &__label{
                color: black;
            }
        }
    }
}
.oneChoose{
    padding: 10px;
    &__description{
        margin: 10px;
    }
    &Answer{
        margin: 10px;
        &__text{
            margin-right: 10px;
        }
    }
}
.manyChoose{
    padding: 10px;
    display: none;
    &__description{
        margin: 10px;
    }
    &Answer{
        margin: 10px;
        &__text{
            margin-right: 10px;
        }
    }
}
.modalWindow{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 99;
}
.loginBox{
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 300px;
    height: 135px;
   border: 1px solid black;
   border-radius: 5px;
   background-color: silver;
   padding: 20px;
   &__text{
       margin-bottom: 5px;
   }
   &__input{
       margin-bottom: 15px;
       width: 290px;
   }
   &Buttons{
       display: flex;
       justify-content: space-between;
       &__button{
           width: 100px;
           height: 30px;
           border: none;
           color: white;
       }
   }
}
.accept{
    background-color: rgb(121, 189, 21);
    &:hover{
        box-shadow: 0 0 0 2px greenyellow;
    }
}
.cancel{
    background-color: red;
    &:hover{
        box-shadow: 0 0 0 2px rgb(245, 139, 139);
    }
}