@import 'base/base';

body{
 background-color: bisque;
}
.wrapper{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main{
    width: 800px;
    min-height: 400px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    &Header{
        width: 100%;
        height: 50px;
        background-color: lightgray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 1px 1px gray;
        &__nameTest{
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
        }
        &__timer{
            @extend .mainHeader__nameTest;
        }
        &__askCount{
            @extend .mainHeader__nameTest;
        }
    }
    &Info{
        width: 95%;
        min-height: 300px;
        padding: 10px 20px;
        // display: none;
        &Description{
            &__text{
               margin: 10px;
            }
            &__rule{
               margin: 10px 40px;
               font-weight: bold;
            }
            &__textRule{
                margin: 10px;
            }
        }
        &CountQuestion{
            margin-left: 10px;
            margin-top: 25px;
        }
    }
    &Login{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        &Box{
            margin-top: 20px;
            height: 45px;
            &__text{
                font-weight: bold;
            }
            &__input{
                border: 1px solid lightgray;
                border-radius: 3px;
                margin-left: 10px;
            }
            &EmailError{
                margin-top: 5px;
                border-radius: 5px;
                background-color: red;
                color: white;
                display: none;
                width: 170px;
                height: 25px;
                padding-left: 10px;
                padding-top: 5px;
            }
            &LoginError{
                @extend .mainLoginBoxEmailError;
            }
            &PermissionError{
                @extend .mainLoginBoxEmailError;
                height: 40px;
                width: 200px;
            }
        }
        &__button{
            margin: 20px 10px;
            width: 70px;
            height: 25px;
        }
    }
    &TestBox{
        @extend .mainInfo;
        display: none;
        &Question{
            width: 100%;
            min-height: 200px;
            display: flex;
            &__img{
                display: block;
                width: 200px;
                height: 200px;
                margin: 10px;
            }
            &__text{
                width: 550px;
                text-align: justify;
                font-size: 14px;
            }
        }
        &Answer{
            font-size: 14px;
            &Box{
                margin-bottom: 10px;
                &__span{
                    margin-left: 10px;
                }
                &__input{
                    
                }
            }
            .answer{
                &__textArea{
                    resize: none;
                    width: 100%;
                    height: 80px;
                    margin: 10px 0px;
                }
            }
        }
        &Button{
            display: flex;
            justify-content: space-between;
            &Navigation{
                display: flex;
                width: 150px;
                justify-content: space-between;
            }
        }
    }
    &EndTest{
        @extend .mainInfo;
        display: none;
        &__result{
            font-weight: bold;
            font-size: 20px;
        }
    }
}
.emailEdit{
    margin-left: 75px;
}
.back{
    display: none;
}
.modalWindow{
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(59, 40, 40, 0.212);
    z-index: 99;
    &MessageBox{
       position: relative; 
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       width: 300px;
       height: 150px;
       border-radius: 3px;
       border: 2px solid red;
       background-color: white;
       display: flex;
       align-items: center;
       flex-direction: column;
       &__text{
           margin: 10px;
           text-align: center;
       }
       &__button{
        @extend .mainLogin__button; 
       }
    }
}
@media screen and (max-width: 590px) {
    .main{
        max-width: 480px;
    }
    .mainTestBoxAnswer{
        width: 95%;
        margin-right: 5px;
        }
    }
@media screen and (max-width:484px){
    .main{
        max-width:380px;
    }
    .mainTestBoxAnswer{
        width: 95%; 
        margin-right: 5px; 
    }
    .mainTestBoxQuestion__text{
        margin-right: 10px;
    }
    .mainTestBoxButton__button.end{
        margin-right: 10px;
    }
}
    
@media screen and (max-width:320px) {
    .main{
        max-width: 300px;
    }
    .mainTestBoxAnswer{
        margin-right: 5px;
        width: 95%;
    }
    .mainTestBoxQuestion__text{
        margin-right: 10px;
    }
}